:root {
    /* --primary-color: #ededf9;
    --secondary-color: #5c8fc6;
    --accent1-color: #d6e0e3;
    --accent2-color: #042d42;
    --primary-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, sans-serif; */

    --main-bg: #f4f4f4;
    --section-bg: #e0e0e0;
    --header-footer: #cfc3e6;
    --text-dark: #222;
    --border: #999;
    --heading-font: Georgia, "Times New Roman", serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    background: var(--main-bg);
    font-family: var(--body-font);
    color: var(--text-dark);
}

header,
body,
footer {
    width: 840px;
    height: auto;
    margin: 0 auto;
}

/* HEADER */
.top-bar {
    display: grid;
    grid-template-columns: 380px 1fr;
    align-items: center;
    background: var(--header-footer);
    border: 1px solid var(--border);
    margin-top: 10px;
    padding: 10px;

}

.logo img {
    margin-left: 60px;
    width: 100px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.nav a {
    text-decoration: none;
    padding: 8px 20px;
    border: 1px solid var(--border);
    background: #fff;
    color: #000;
    font-size: 14px;
}

/* COMPANY INFO */
.company-info {
    text-align: center;
    padding: 20px;

}

/* CONTACT SECTION */
.contact-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 20px;
}

.contact-form {
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid var(--border); */
    /* border-radius: 0.5rem; */
    /* background-color: var(--primary-color); */
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.message-purpose {
    display: flex;
    align-items: center;
}

.radio-group label {
    font-weight: normal;
    display: flex;
    /* align-items: flex-start; */
    justify-content: flex-start;
    gap: 15px;
    padding: 5px 0;
}

.message-label {
    grid-column: span 2;
}

.contact-form textarea {
    grid-column: span 2;
    width: 100%;
    height: 120px;
}

.checkbox {
    grid-column: span 2;
}

button {
    grid-column: span 2;
    background: var(--accent1-color);
    padding: 15px;
    border: 1px solid #999;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-family: var(--body-font);

}

/* TEAM SECTION */
.team {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: var(--section-bg);
    margin: 20px 0 10px;
}

.team-grid {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 10px;
    font-size: 12px;

}

.team-grid .figcaption {
    font-size: 20px;

}

.employee .img {
    width: 100px;
    height: 60px;
    background: #ddd;
    margin-bottom: 10px;
}

/* FOOTER */
.footer {
    background: var(--header-footer);
    border: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 200px;
    border: 1px solid #ccc;
}

.socialmedia div {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: inline-block;
    margin-left: 10px;
}